@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.hideScrollbar::-webkit-scrollbar {
  display: none;
}

.hideScrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* mapbox */
.mapboxgl-popup-content {
  box-shadow: none;
  height: fit-content;
  padding: 0px 0px;
}

.mapboxgl-popup-tip {
  display: none;
}

.mapboxgl-popup-content span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.primary-gradient {
  background: linear-gradient(90deg, #0177ed 0%, #2591fe 100%);
}

.badge-red {
  background: linear-gradient(180deg, #be0504 0%, #8c0403 100%);
}

.catalog-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

@media screen and (min-width: 500px) {
  .catalog-grid {
    width: 100%;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 3fr));
  }
}

@media screen and (min-width: 1400px) {
  .catalog-grid {
    width: 100%;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(292px, 1fr));
  }
}
